// sidebar
$menuText:#FFFFFF;
$menuActiveText:#FFFF00;
$subMenuActiveText:#FFFF00; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#2874af;
$menuHover:#003d74;

$subMenuBg:#619ac3;
$subMenuHover:#003d74;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
